<app-card titulo="Primeiro Componente" cor="#3d4d63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-card titulo="Aprofundando o conhecimento em templates" cor="#b2e7e8">
    <app-segundo-componente></app-segundo-componente>
</app-card>
<app-card titulo="Pipes" cor="#bfb9aa">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>
<app-card titulo="Two-Way Data binding" cor="#f2d096">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando listas" cor="#ed8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>
<app-card titulo="Componentes personalizados" cor="#ffe3dc">
    <app-componente-personalizado nome="João" sobrenome="Gomes"></app-componente-personalizado>
</app-card>
<app-card titulo="Compartilhando dados entre componentes" cor="#a2ad91">
    <app-componente-pai></app-componente-pai>
</app-card>
<app-card titulo="Serviços" cor="#3a2d32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>
<app-card titulo="Ciclo de vida">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>